venv/
json/
users/
__pycache__/
doctorow_ebooks.txt
.indexme
*.swp
*.log
config.ini
config.json
plugins/pronouns.json
plugins/ebooks/
optout
secrets.toml
.venv/
old_words.txt
used_wotd.txt
words.txt
words.txt
wotd.json
