certifi==2017.7.27.1
chardet==3.0.4
click==6.7
configobj==5.0.6
emoji==0.4.5
idna==2.6
inflect==0.2.5
irc==16.0
jaraco.classes==1.4.1
jaraco.collections==1.5.1
jaraco.functools==1.16
jaraco.itertools==2.0.1
jaraco.logging==1.5
jaraco.stream==1.1.2
jaraco.text==1.9.2
markovify==0.6.0
Mastodon.py==1.1.1
more-itertools==3.2.0
nltk==3.2.2
pinhook==0.1.1
pkg-resources==0.0.0
pushbullet.py==0.10.0
python-dateutil==2.6.1
python-magic==0.4.13
pytz==2017.2
requests==2.18.4
requests-cache==0.4.13
six==1.11.0
tempora==1.9
tvdb-api==1.10
Unidecode==0.4.20
urllib3==1.22
websocket-client==0.40.0
