configobj==5.0.6
inflect==0.2.5
irc==15.0.6
jaraco.classes==1.4
jaraco.collections==1.5
jaraco.functools==1.15.1
jaraco.itertools==2.0
jaraco.logging==1.5
jaraco.stream==1.1.1
jaraco.text==1.9
markovify==0.6.0
more-itertools==2.5.0
nltk==3.2.2
pkg-resources==0.0.0
pushbullet.py==0.10.0
python-magic==0.4.13
pytz==2016.10
requests==2.13.0
requests-cache==0.4.13
six==1.10.0
tempora==1.6.1
tvdb-api==1.10
Unidecode==0.4.20
websocket-client==0.40.0
