beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
configobj==5.0.6
emoji==0.4.5
idna==2.6
inflect==0.2.5
irc==16.2
jaraco.classes==1.4.3
jaraco.collections==1.5.2
jaraco.functools==1.17
jaraco.itertools==2.1
jaraco.logging==1.5.1
jaraco.stream==1.1.2
jaraco.text==1.9.2
markovify==0.7.0
more-itertools==4.0.1
nltk==3.2.5
pinhook==1.3.1
pkg-resources==0.0.0
pytz==2017.3
requests==2.18.4
requests-cache==0.4.13
six==1.11.0
tempora==1.10
tvdb-api==1.10
Unidecode==0.4.21
urllib3==1.22
